.header-receita {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.infomacao-receita {
    margin-left: 100px;
}

.infomacao-receita h2{
    font-size: 30px;
}

.infomacao-receita p{
    margin-left: 300px;
    font-style: italic;
}

.receita {
    display: flex;
}

.receita li{
    color: red;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

.receita li span{
    color: black;
    font-style: normal;
}

table {
    font-style: italic;
    width: 350px;
}

table th{
    text-align: left;
}

@media only screen and (max-width: 700px) {

    .header-receita { display: block; }

    .header-receita figure { text-align: center; }

    .infomacao-receita { margin: 0; }

    .infomacao-receita p{
        margin: 10px 0;
        text-align: center;
    }

    .receita { display: block; }
}
