body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    overflow:hidden;
}

.title {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.links {
    padding: 10px 10px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    width: 250px;
}

.link {
    list-style: none;
    color: #333;
    text-decoration: none;
    padding: 7px 0;
}

.link:hover {
    color: #ccc;
}

