@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&family=Roboto:wght@400;700;900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

.container {
    padding: 0 16px;
}

h1
{
    font: 36px 'Comfortaa', cursive;
    margin: 36px 0;
    letter-spacing: -1px;
}

h2 {
    font:900 13px 'Roboto', sans-serif;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.story-box {
    overflow-x: scroll;
    margin-bottom: 48px;
}

.stories section {
    min-width: 100%;
}

.stories {
    display: flex;
    gap:16px;
}

.legenda {
    display: flex;
    margin-top: 16px;
    gap: 8px;
    align-items: center;
}

.legenda p{
    font: 700 13px 'Roboto', sans-serif;
}

.legenda a{
    font: 400 11px/1 'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

.posts {
    display: flex;
    gap: 9px;
}

.posts article{
    width: 100%;
    display: flex;
    gap: 9px;
    flex-direction: column;
}

.ver-mais a{
    display: block;
    border: 2px solid #000;
    padding: 19px 0 18px;
    margin: 32px 0 80px;
    font: 900 13px 'Roboto', sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

ul{ list-style:none; }

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    border-top: 1px solid #B3B3B3;
    background: #fff;
    padding: 9px 0;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
}
