/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time
{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:"Cera-bold", Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-family:Arial, Helvetica, sans-serif;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
img{width:100%;}
a,
a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border-bottom:1px solid #000;
  color:#000;
  padding:8px 0;
  font:14px Arial, Helvetica, sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:1px solid #000;
  text-transform:uppercase;
  padding:10px 30px;
  color:#000;
  font:12px Arial, Helvetica, sans-serif;
  background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}

body {
  font-family: sans-serif;
}

.menu {
  width: 100%;
  position: fixed;
  background-color: #ccc;
  top:0;
}

.menu .menu-list{
  list-style: none;
  justify-content: center;
  display: flex;
  margin: 10px 0;
}

.menu-item a{
  margin-right: 20px;
  text-decoration: none;
  color: #444;
}

.menu-item a:hover{
  color: #666;
}

.curriculo {
  margin-left: 10%;
  margin-top: 60px;
}
.curriculo .subtitle {
  margin-bottom: 50px;
}

.section {
  margin-top: 40px;
}

.list-projects{
  padding: 10px;
  list-style: none;
}

.list-projects li{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.list-info{
  padding: 10px;
}

.list-info li{
  width: 300px;
  padding: 5px;
}

.list-info li a{
  width: 300px;
  padding: 5px;
  color: #444;
}

iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.github-btn {
  display: inline-flex;
  position: fixed;
  cursor: pointer;
  top: 90%;
  right: 5%;
}

.btn-voltar {
  display: inline-flex;
  position: fixed;
  background: #405ca3;
  color: white;
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  top: 90%;
  right: 88%;
  text-decoration: none;
}

.btn-voltar:hover {
  color: #ccc;
  text-decoration: underline;
}
