* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.menu {
  width: 100%;
  position: fixed;
  background-color: #ccc;
  top:0;
}

.menu .menu-list{
  list-style: none;
  justify-content: center;
  display: flex;
  margin: 10px 0;
}

.menu-item a{
  margin-right: 20px;
  text-decoration: none;
  color: #444;
}

.menu-item a:hover{
  color: #666;
}

.curriculo {
  margin-left: 10%;
  margin-top: 60px;
}
.curriculo .subtitle {
  margin-bottom: 50px;
}

.section {
  margin-top: 40px;
}

.list-projects{
  padding: 10px;
  list-style: none;
}

.list-projects li{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.list-info{
  padding: 10px;
}

.list-info li{
  width: 300px;
  padding: 5px;
}

.list-info li a{
  width: 300px;
  padding: 5px;
  color: #444;
}

iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.github-btn {
  display: inline-flex;
  position: fixed;
  cursor: pointer;
  top: 90%;
  right: 5%;
}

.btn-voltar {
  display: inline-flex;
  position: fixed;
  background: #405ca3;
  color: white;
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  top: 90%;
  right: 88%;
  text-decoration: none;
}

.btn-voltar:hover {
  color: #ccc;
  text-decoration: underline;
}
