* {
     margin: 0;
     padding: 0;
     border: 0;
     list-style: none;
}

h1,h2,p{
    color:red;
}

h2 span {
    color: #090;
}

p span{
    color: #900;
}

#exemplo span {
    color: antiquewhite;
}

.teste.codeblue {
    text-decoration: underline;
}

.teste  .exmplo{
    color: #900;
}


